// @font-face {
//     font-family: Pretendard;
//     src: url(NanumSquareR.eot); /* IE 호환성 보기 */
//     src: url(NanumSquareR.eot#iefix) format('embedded-opentype'), /* IE 6 ~ 8 */
//          url(NanumSquareR.woff) format('woff'), /* 모던 브라우저 */
//          url(NanumSquareR.ttf) format('truetype');
//     font-weight: 400;
// }

@font-face {
    font-family: Pretendard;
    src: url("../../assets/fonts/Pretendard-Regular.woff2") format('woff2');
    src: url("../../assets/fonts/Pretendard-Regular.woff") format('woff');
    src: url("../../assets/fonts/Pretendard-Regular.ttf") format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Pretendard;
    src: url("../../assets/fonts/Pretendard-Medium.woff2") format('woff2');
    src: url("../../assets/fonts/Pretendard-Medium.woff") format('woff');
    src: url("../../assets/fonts/Pretendard-Medium.ttf") format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: Pretendard;
    src: url("../../assets/fonts/Pretendard-SemiBold.woff2") format('woff2');
    src: url("../../assets/fonts/Pretendard-SemiBold.woff") format('woff');
    src: url("../../assets/fonts/Pretendard-SemiBold.ttf") format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: Pretendard;
    src: url("../../assets/fonts/Pretendard-Bold.woff2") format('woff2');
    src: url("../../assets/fonts/Pretendard-Bold.woff") format('woff');
    src: url("../../assets/fonts/Pretendard-Bold.ttf") format('truetype');
    font-weight: 700;
}



@mixin font-style($size : 18) {
    font-size: #{$size}px;
    letter-spacing: -0.04em;

    @if($size == 16){
        line-height: 16px;
    }
    @if($size == 17){
        line-height: 22px;
    }
    @if($size == 18){
        line-height: 26px;
    }

    @if($size == 20){
        line-height: 30px;
    }
    @if($size == 24){
        line-height: 36px;
    }

}

