// 레이아웃
// gnb , lnb title

#main{
    min-width: 1850px;
    width: 100%;
}

#header {
    background-color: #fff;
    height: 60px;
    padding: 0 20px;

    .header-layout {
        width: 100%;
        height: 100%;
        @include flex(sb);
    }

    .logo{
        width: 116px;
    }

    .info {
        display: flex;

        &-name {
            margin-right: 30px;
            @include font-style(18);
            font-weight: 600;
            color: #222;
        }

        &-list {
            display: flex;

            li {
                margin-right: 20px;
                position: relative;
                font-size: 16px;
                color: #666;
                letter-spacing: -0.64px;
                cursor: pointer;
                display: flex;
                align-items: center;
                i{
                    margin-right: 8px;
                }

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}

.lnb {
    width: 320px;
    min-height: calc(100vh - 60px);
    background-color: #333A3D;

    .lnb-content{
        position: sticky;
        top: 0;
        z-index: 10;
    }
    
    &-toggle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 60px;
        background-color: $green;
        color: #fff;

        &--label{
            @include font-style(16);
            margin-right: 20px;   
            font-weight: 500;  
        }

        &--btn {
            width: 60px;
            height: 60px;
            background-color: #05665b;
            color: #fff;
            @include flex;
        }
    }

    &-lookup {
        background-color: #DCDEE0;
        padding: 10px 20px;

        &__btn{
            display: flex;
            margin-bottom: 4px;
            
            button{
                background-color: #bec1c4;
                width: 50%;
                height: 40px;
                @include flex();
                @include font-style(17);
                font-weight: 500;
                color: #666;
                
                &:first-child{
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                &:last-child{
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                &.active{
                    border: 2px solid $green;
                    background-color: #fff;
                    color: $green;
                }
            }
        }
    }

    &-title {
        height: 60px;
        background-color: #5C6164;
        color: #fff;
        padding-left: 20px;
        @include flex(start);
        @include font-style(20);
        font-weight: 600;
    }


    &-list {
        background-color: #333A3D;
        color: #fff;
        padding: 10px 20px;

        .lnb-item{
            height: 50px;
            margin-bottom: 4px;
            border-radius: 8px;
            @include flex(sb);
            padding: 0 10px;

            & > a{
                height: 100%;
                color: #d4d6d8;
                display: flex;
                align-items: center;
                width: 250px;
                
                i{
                    font-size: 24px;
                    width: 33px;
                }
            }

            &:hover{
                background-color: $green;
                a{
                    color: $white;
                }
            }

            &:last-child{
                margin-bottom: 0;
            }

            &.active{
                background-color: $green;
                & > a{
                    color: #fff;
                }
            }

            
        }

        .item.new{
            display: flex;
            align-items: center;
            &::after{
                content: "N";
                display: inline-block;
                width: 18px;
                height: 18px;
                background-color:#fa4646 ;
                border-radius: $radius;
                line-height: 18px;
                color: #fff;
                text-align: center;
                font-size: 14px;
                margin-left: 8px;
            }
        }

        .depth-btn{
            width: 20px;
            height: 20px;
            margin-left: 40px;
            position: relative;
            
            &::before{
                content: "";
                width: 3px;
                height: 100%;
                position: absolute;
                border-radius: $radius;
                background-color: $white;
                @include pos-center;
                transform: translate(-50%,-50%) rotate(90deg);
            }
            &::after{
                content: "";
                width: 3px;
                height: 100%;
                position: absolute;
                border-radius: $radius;
                background-color: $white;
                left: 0;
                top: 0;
                @include pos-center;
            }

            &.active{
                &::before{
                    background-color: #d4d6d8;
                }
                &::after{
                    display: none;
                }
            }
        }

        .lnb-item__depth{
            display: none;
            padding: 0 10px;
            & > div{
                padding: 15px;
                border-radius: 8px;
                background-color: #1a1d1f;
                padding-left: 44px;
                margin-bottom: 4px;
            }

            &.active{
                display: block
            }

            .depth{
                @include font-style(17);
                color: #d4d6d8;
                margin-bottom: 15px;
                &:last-child{
                    margin: 0;
                }
            }
        }
    }

    .spe{
        display: none;
    }
}

.lnb.active{
    width: 80px;

    .lnb-lookup, .lnb-title, .lnb-toggle--label{
        display: none;
    }
    .lnb-toggle--btn{
        width: 80px;
    }
    .lnb-list{
        padding: 0;
        padding-top: 210px;
        & > div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .spe{
        border-bottom: 1px solid #333a3d;
        padding-left: 20px;
        height: 50px;
        margin-bottom: 15px;
        @include flex(start);
    }

    .lnb-item{
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 50px;
        border-radius: 50%;

        a{
            width: 100%;
            width: 100%;
            justify-content: center;
        }

        &:not(.active):hover{
            background-color: #1a1d1f;
        }

        .depth-btn, .item{
            display: none;
        }
        i{
            margin-right: 0;
            width: auto;
        }
    }


    & + .content{
        width: calc(100% - 80px);
    }

    .lnb-items-warp{
        @include flex();
        width: 100%;

        &.active{
            position: relative;
            
            .lnb-item__depth{
                position: absolute;
                display: block;
                z-index: 2;
                top: -15px;
                left: 80px;
                padding: 15px 0;

                .depth{
                    margin-bottom: 15px;
                }

                & > div{
                    width: 200px;
                    min-height: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding:  0;
                    border-radius: 0;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;

                    .item{
                        padding-left: 20px;
                    }
                }
            }
        }
    }

}

.content {
    width: calc(100% - 320px);
    background-color: #f6f6f6;
    padding: 16px 24px;
  
    &-head{
        margin-bottom: 15px;
        padding: 0 10px;

        .title{
            i{
                margin-right: 10px
            }
        }

        .location{
            @include font-style(16);
            font-weight: 400;
            color: #666;
            @include flex(start);

            i{
                font-size: 7px;
                margin: 0 6px;
            }

            strong{
                color: #222;
                font-weight: 600;
            }
        }
    }
}

.bg {
    background-color: #fff;
    min-height: 750px;
    border-radius: $radius;
    padding: 20px 30px;

    &.bg-list{
        width: 30.9677%;
        margin-right: 0.6451%;
    }

    &.bg-content{
        width: 69.0322%;
    }

}

.tabs-header {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;

    &::after {
        content: "";
        height: 1px;
        background-color: #eee;
        position: absolute;
        left: -30px;
        width: calc(100% + 60px);
        bottom: 0px;
    }
}

.user-info {
    .name {
        @include font-style(28);
        color: #222;
        font-weight: 700;
        margin-right: 6px;
    }

    .grade {
        width: 40px;
        height: 24px;
        background-color: #ff7b42;
        color: $white;
        border-radius: 12px;
        margin-right: 20px;
        @include font-style(18);
        @include flex;
        font-weight: 600;
    }
}

.content-tabs {
    display: flex;
    li{
        @include font-style(20);
        font-weight: 500;
        color: #888;
        margin-right: 20px;
        cursor: pointer;

        &.active{
            color: #222;
            position: relative;
            font-weight: 600;

            &::after{
                content: "";
                width: 100%;
                position: absolute;
                height: 2px;
                background-color: $green;
                left: 0;
                bottom: -10px;
            }
        }

        &:last-child{
            margin-right: 0;
        }
    }
}

.content-tabs2{
    @extend .content-tabs;
    position: relative;
    top: -7px;

    li{
        &.active{
            &::after{
                bottom: -5px;
            }
        }
    }
}
