// 레이아웃
.container {
    width: 1500px;
    margin: 0 auto;
}

#header {
    background-color: rgb(255, 255, 255);
    min-width: 1500px;

    .header-layout {
        @include flex(sb);
        padding: 10px;
    }

    .logo {
        font-size: 14px;
        img {
            width: 100px;
            height: 100%;
            border: none;
        }
    }

    .info {
        display: flex;

        &-name {
            margin-right: 10px;
        }

        &-list {
            display: flex;

            li {
                margin-right: 10px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 12px;
                    background-color: rgb(218, 218, 218);
                    right: -5px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:last-child {
                    margin-right: 0;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

.lnb {
    &-toggle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50px;
        background-color: $green;
        color: #fff;

        &--btn {
            width: 50px;
            height: 50px;
            background-color: $green;
            color: #fff;
        }
    }

    &-lookup {
        background-color: #DCDEE0;
        padding: 10px 20px;

        &__btn{
            display: flex;
            
            button{
                background-color: #999;
                width: 50%;
                height: 30px;
                @include flex();
                
                &:first-child{
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                &:last-child{
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                &.active{
                    border: 2px solid $green;
                    background-color: #fff;
                    color: $green;
                }
            }
        }
    }

    &-list {
        height: calc(100% - 216px);
        background-color: #333A3D;
        color: #fff;
        padding: 10px;


        .lnb-item{
            margin-bottom: 5px;
            &:last-child{
                .one-depth{
                    margin-bottom: 0;
                }
            }
        }

        .one-depth{
            position: relative;
            border-radius: 5px;
            padding: 10px;

            a{
                display: flex;
                align-items: center;
            }

            // &::before{
            //     content: "";
            //     position: absolute;
            //     width: 2px;
            //     height: 15px;
            //     right: 15px;
            //     top: 0;
            //     background-color: #fff;
            // }
            // &::after{
            //     content: "";
            //     position: absolute;
            //     width: 2px;
            //     height: 15px;
            //     right: 15px;
            //     top: 0;
            //     transform: rotate(90deg);
            //     background-color: #fff;
            // }

        }
    }

    &-title {
        padding: 10px;
        background-color: #5C6164;
        color: #fff;
    }
}

.content {
    padding: 20px;
    background-color: #f6f6f6;
}

.bg {
    background-color: #fff;
    min-height: 700px;
    border-radius: 10px;
    padding: 20px;
}



.table {
    table {
        display: block;
        border: 1px solid $border;
        border-right: none;
    }

    td,
    th {
        border: none;
    }

    td,
    th {
        border-right: 1px solid $border;
        display: flex;
        justify-content: center;
        align-items: center;
        word-break:break-all;
    }

    tr {
        display: flex;
        border-bottom: 1px solid $border;
    }
    thead {
        display: block;

        th:nth-last-child(1) {
            width: 17px;
            border-right: none;
        }
        th:nth-last-child(2) {
            border-right: none;
        }

        
    }

    tbody {
        display: block;
        overflow-y: scroll;

        tr:last-child{
            border-bottom: none;
        }
    }
}
