*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Pretendard, sans-serif;
}

html{
    @include font-style;
}

body{
    @include font-style;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}

input{
    border: none;

    &:active{
        border: none;
    }
    &:focus{
        outline: none;
    }
}

textarea{
    width: 100%;
    border: 1px solid $border;
    resize: none;
    &:focus{
        outline: none;
    }
}
table{
    border-collapse: collapse;
}

em{
    font-style: normal;
}