*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html{
    // font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}

table{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;

    th{
        white-space: nowrap;
    }

    th,td{
        padding: 5px;
        border: 1px solid #dee2e6;
    }


}

input{
    border: none;

    &:active{
        border: none;
    }
    &:focus{
        outline: none;
    }
}

textarea{
    width: 100%;
    border: 1px solid $border;
    resize: none;
    &:focus{
        outline: none;
    }
}

input[type="checkbox"]{
    background-color: #fff;
    width: 13px;
    height: 13px;
    border-radius: 0;
    appearance: none;
    border: 1px solid #999;

    &:checked {
        background-color: #000;
    }
}

