

.row{
    display: flex;
}

//ex col-6 == 50% , col-12 == 100%;
@for $i from 1 through 12 {
    .col-#{$i}{
        width: percentage($i/12) ;
    }
}

.sr-only{
    width: 1px;
    height: 1px;
    position: absolute;
    left: -5000px !important;
    top: 5000px !important;
    overflow: hidden;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}

.fj{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa{
    display: flex;
    align-items: center;
}

.fc{
    display: flex;
    align-items: center;
    justify-content: center
}

.fe{
    display: flex;
    justify-content: flex-end;
}


.border{
    border: $border;

    &-left{
        border: none;
        border-left: $border;
    }
    &-right{
        border: none;
        border-right: $border;
    }
    &-bottom{
        border: none;
        border-bottom: $border;
    }
    &-top{
        border: none;
        border-top: $border;
    }
}

.mr-10{
    margin-right: 10px;
}
.mb-20{
    margin-bottom: 20px;
}