

.row{
    display: flex;
}

//ex col-6 == 50% , col-12 == 100%;
@for $i from 1 through 12 {
    .col-#{$i}{
        width: percentage($i/12) ;
    }
}

.sr-only{
    width: 1px;
    height: 1px;
    position: absolute;
    left: -5000px !important;
    top: 5000px !important;
    overflow: hidden;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}

.fj{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa{
    display: flex;
    align-items: center;
}

.fc{
    display: flex;
    align-items: center;
    justify-content: center
}

.fe{
    display: flex;
    justify-content: flex-end;
}

.font-12{
    @include font-style(12);
}
.font-14{
    @include font-style(14);
}
.font-16{
    @include font-style(16);
}
.font-18{
    @include font-style(18);
}


.modal-bg{
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: left;

    .modal-content{
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: #fff;
        transform: translate(-50%,-50%);
        min-width: 300px;
        
        header{
            background-color: $orange;
            padding: 10px;
        }

        .modal-body{
            padding: 10px;
        }
    }
}





.border{
    border: $border;

    &-left{
        border: none;
        border-left: $border;
    }
    &-right{
        border: none;
        border-right: $border;
    }
    &-bottom{
        border: none;
        border-bottom: $border;
    }
    &-top{
        border: none;
        border-top: $border;
    }
}

.mr-10{
    margin-right: 10px;
}
 