
.row{
    display: flex;
}

//ex col-6 == 50% , col-12 == 100%;
@for $i from 1 through 12 {
    .col-#{$i}{
        width: percentage($i/12) ;
    }
}

.text-green{
    color: $green;
}
.text-orange{
    color: $orange;
}
.text-alert{
    color: $alert;
}

.alert-text{
    @include font-style;
    font-weight: 600;
    color: $alert;
}

.sr-only{
    width: 1px;
    height: 1px;
    position: absolute;
    left: -5000px !important;
    top: 5000px !important;
    overflow: hidden;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.fs{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right !important;
}

.water{
    vertical-align: sub;
    margin: 0 10px;
}

.fj{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa{
    display: flex;
    align-items: center;
}

.fc{
    display: flex;
    align-items: center;
    justify-content: center
}

.fe{
    display: flex;
    justify-content: flex-end;
}
.fa-end{
    display: flex;
    align-items: flex-end;
}

.f-column{
    flex-direction: column;
}


.border{
    border: $border;

    &-left{
        border: none;
        border-left: $border;
    }
    &-right{
        border: none;
        border-right: $border;
    }
    &-bottom{
        border: none;
        border-bottom: $border;
    }
    &-top{
        border: none;
        border-top: $border;
    }
}
.plr-20{
    padding: 0 20px; 
}
.mb-10{
    margin-bottom: 10px;
}
.mb-5{
    margin-bottom: 5px;
}

.mr-10{
    margin-right: 10px;
}
.mr-20{
    margin-right: 20px;
}
.mr-4{
    margin-right: 4px;
}
.ml-10{
    margin-left: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-20{
    margin-top: 20px;
}

.p-5{
    padding: 5px;
}

.wh-103{
    width: 100px !important;
    height: 30px !important;
    font-size: 16px !important;
}