%button-base {
    @include font-style(17);
    height: 40px;
    border-radius: $radius;
    min-width: 81px;
    color: #fff;
    background-color: transparent;
    padding: 0 11px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    white-space: nowrap;

    &:disabled {
        cursor: not-allowed;
    }

    &.btn-icon{
        @include flex;
        display: inline-flex;
        
        i{
            font-size: 16px;
            margin-right: 6px
        }
    }
}

.btn-green {
    @extend %button-base;
    background-color: $green;

    &:hover {
        background-color: #02846c;
    }

    &:disabled {

        color: rgba($white,0.5);

        &:hover {
            background-color: $green;
        }
    }
}

.btn-green-border {
    @extend %button-base;
    border: 1px solid $green;
    color: $green;

    &:hover {
        background-color: $green;
        color: $white;
    }

    &:disabled {
        color: rgba($green,0.5);

        &:hover {
            background-color: #fff;
        }
    }
}
.btn-green-light {
    @extend %button-base;
    background-color: $green-light;
    color: $green;

    &:disabled{
        color: rgba($green,0.2)
    }
}


.btn-orange {
    @extend %button-base;
    background-color: $orange;

    &:hover {
        background-color: #e05836;
    }

    &:disabled {
        color: rgba($white,0.4);

        &:hover {
            background-color: $orange;
        }
    }
}

.btn-orange-border {
    @extend %button-base;
    border: 1px solid $orange;
    color: $orange;

    &:hover {
        background-color: $orange;
        color: $white;
    }

    &:disabled {
        color: rgba($orange,0.4);

        &:hover {
            background-color: #fff;
        }
    }
}
.btn-orange-light {
    @extend %button-base;
    background-color: $orange-light;
    color: $orange;

    &:disabled{
        color: rgba($orange,0.4);

    }
}


.btn-brown {
    @extend %button-base;
    background-color: $brown;

    &:hover {
        background-color: #473326
    }

    &:disabled {
        color: rgba($white,0.4);

        &:hover {
            background-color: $brown;
        }
    }
}

.btn-table{
    @extend %button-base;
    height: 30px;
    border: 1px solid $border;
    color: #444;

    &:hover{
        background-color: #eee;
    }
}

.btn-grey {
    @extend %button-base;
    border: solid 1px #ccc;
    background-color: #eee;
    color: #444;

    &:hover {
        background-color: #ddd;
    }

    &:disabled {
        color: #ccc;
        &:hover {
            background-color: #eee;
        }
    }
}

.btn-grey-border {
    @extend %button-base;
    border: 1px solid $border;
    color: #444;
    background-color: #fff;

    &:hover {
        background-color: $grey;
    }

    &:disabled{
        color: #ccc;

        &:hover{
            background-color: #fff;
        }
    }
}

.btn-search{
    width: 81px;
    i{
        font-size: 16px;
        margin-right: 5px;
        position: relative;
        top: -2px;
    }
}
.btn-reload{
    min-width: 107px;
}

.btn-arrow{
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}
