%button-base {
    height: 35px;
    border-radius: 5px;
    padding: 0 15px;
    color: #fff;
    background-color: #fff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

    &:disabled {
        cursor: not-allowed;
    }
}

.btn {
    height: 30px;
    border-radius: 5px;

    border: 1px solid $border;
    padding: 0 10px;
    color: #212529;
    background-color: #f8f9fa;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    white-space: nowrap;

    &:disabled {
        background-color: #dce2e9;

        &:hover {
            background-color: #dce2e9;
        }
    }

    &:hover {
        background-color: #e2e6ea;
    }

    &.active {
        border: 1px solid $orange;
        background-color: #dae0e5;
        border-color: #d3d9df;
    }

    &.btn-s {
        padding: 5px;
    }
    &.disabled {
        pointer-events: none;
        background: #ccc;
    }
}

.btn-green {
    @extend %button-base;
    background-color: $green;

    &:hover {
        background-color: #02846c;
    }

    &:disabled {
        &:hover {
            background-color: $green;
        }
    }
}

.btn-green-border {
    @extend %button-base;
    border: 1px solid $green;
    color: $green;

    &:hover {
        background-color: $green;
        color: $white;
    }

    &:disabled {
        &:hover {
            background-color: #fff;
        }
    }
}
.btn-green-light {
    @extend %button-base;
    background-color: $green-light;
    color: $green;
}
.btn-orange {
    @extend %button-base;
    background-color: $orange;

    &:hover {
        background-color: #e05836;
    }

    &:disabled {
        &:hover {
            background-color: $orange;
        }
    }
}

.btn-orange-border {
    @extend %button-base;
    border: 1px solid $orange;
    color: $orange;

    &:hover {
        background-color: $orange;
        color: $white;
    }

    &:disabled {
        &:hover {
            background-color: #fff;
        }
    }
}
.btn-orange-light {
    @extend %button-base;
    background-color: $orange-light;
    color: $orange;
}
.btn-brown {
    @extend %button-base;
    background-color: $brown;

    &:hover {
        background-color: #e05836;
    }

    &:disabled {
        &:hover {
            background-color: $brown;
        }
    }
}

.btn-grey {
    @extend %button-base;
    background-color: $grey;
    color: #000;

    &:hover {
        background-color: #ddd;
    }

    &:disabled {
        &:hover {
            background-color: $grey;
        }
    }
}

.btn-grey-border {
    @extend %button-base;
    border: 1px solid $grey;
    color: #000;

    &:hover {
        background-color: $grey;
        color: #000;
    }

    &:disabled {
        &:hover {
            background-color: #fff;
        }
    }
}