%checkbox-base {
    display: inline-block;
    position: relative;
    top: -1px;

    input[type="checkbox"] {
        display: none;

        & + label{
            i{display: none;}
        }

        &:checked + label {
            position: relative;

            i{
                display: block;
                @include pos-center;
                color: #fff;
                transform: translate(-50%,-50%) scale(0.5);
            }

        }
        &:disabled{
            &:checked + label{
                border: 1px solid #ccc;
                background-color: #eee;
            }
        }
        
        &:disabled + label {
            background-color: #eee;
            border: 1px solid #ccc;
            cursor: default !important;

            i{
                color: #ccc;
            }
            
        }
    }

    label {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: $radius;
        background-color: $white;
        vertical-align: middle
    }
}

.check-green {
    @extend %checkbox-base;

    input[type="checkbox"]:checked + label {
        background-color: $green;
        border: none;
    }
}
.check-orange {
    @extend %checkbox-base;

    input[type="checkbox"]:checked + label {
        background-color: $orange;
        border: none;
    }
}
