%checkbox-base {
    display: inline-block;
    position: relative;
    top: -1px;

    input[type="checkbox"] {
        display: none;

        &:checked + label {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 2.2px;
                height: 7px;
                transform: rotate(132deg);
                background-color: white;
                top: 6px;
                left: 22%;
            }
            &::after {
                content: "";
                position: absolute;
                width: 2.2px;
                height: 11px;
                left: 52%;
                transform: rotate(38deg);
                background-color: white;
                top: 2px;
            }
        }
        &:disabled{
            &:checked + label{
                border: 1px solid #ccc;
                background-color: #eee;
            }
        }

        &:disabled + label {
            background-color: #eee;
            border: 1px solid #ccc;
            cursor: not-allowed;

            &::before, &::after{
                background-color: #ccc;
            }
        }
    }

    label {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: $radius;
        background-color: $white;
        vertical-align: middle
    }
}

.check-green {
    @extend %checkbox-base;

    input[type="checkbox"]:checked + label {
        background-color: $green;
        border: none;
    }
}
.check-orange {
    @extend %checkbox-base;

    input[type="checkbox"]:checked + label {
        background-color: $orange;
        border: none;
    }
}
