.datepicker{
    display: inline-flex;

    &-body{
        height: 0;
        .react-date-picker__wrapper{
            visibility: hidden;
        }

        .react-date-picker__calendar{
            top: 43px !important;
        }
    }

    &-btn{
        height: 40px;
        @include flex();
        border: 1px solid #666;
        border-radius: $radius;
        background-color: $white;
        padding: 0 15px;
        @include font-style(17);
        font-weight: 500;
        color: #444;
        position: relative;
    }
}

.next-date{
    @include font-style(24);
    font-weight: 600;
    color: #222;
    margin: 0 15px;
}

.ChangeMonth{
    h4{
        @extend .next-date;
    }
}



.CustomDatePicker-btn{
    position: relative;
    height: 40px;
    min-width: 146px;
    background-color: #fff;
    border: 1px solid #666;
    border-radius: $radius;

    & > span{
        @include flex;
        @include font-style(17);
        font-weight: 500;
        color: #444;
        height: 100%;
        i{
            font-size: 18px;
            margin-left: 10px;
        }
    }
}


.CustomDatePicker{
    position: absolute;
    cursor:default;
    left: 0;
    top: 40px;
    z-index: 1;
    background-color: #fff;

    &-header{
        display: flex;
        align-items: center;
    }

    .date{
        &-header{
            display: flex;
            &>div{
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
            }
        }


        &-body{
            width: 210px;
            display: flex;
            flex-wrap: wrap;

            .day{
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;

                &.current-day{
                    color: brown;
                }

                &.disabled{
                    color: #ddd;
                }
            }
        }
    }

}