.datepicker{
    display: inline-flex;

    &-body{
        height: 0;
        .react-date-picker__wrapper{
            visibility: hidden;
        }

        .react-date-picker__calendar{
            top: 43px !important;
        }
    }

    &-btn{
        height: 40px;
        @include flex();
        border: 1px solid #666;
        border-radius: $radius;
        background-color: $white;
        padding: 0 15px;
        @include font-style(17);
        font-weight: 500;
        color: #444;
        z-index: 3;
        position: relative;
    }
}

.next-date{
    @include font-style(24);
    font-weight: 600;
    color: #222;
    margin: 0 15px;
}

.ChangeMonth{
    h4{
        @extend .next-date;
    }
}