.textInput{
    @include font-style(17);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    &::placeholder{
        color: #ccc;
    }
    &:focus{
        border: 1px solid #666;
        color: #444;
    }
    &:disabled,
    &.disabled
    {
        color: #ccc;
        border: 1px solid #e5e5e5;
        background: #f2f2f2;
    }
    
}
.searchInput{
    position: relative;
    .textInput{
        padding-right: 40px !important;
    }
    &-btn{
        position: absolute;
        right: 0;
        top:0;
        width: 40px;
        height: 100%;
        @include flex();
    }

}




