.modal {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 30;

    &-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-width: 300px;
        background-color: #fff;
        text-align: left;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &-title {
        @include font-style(18);
        font-weight: 600;
    }

    &-name {
        height: 50px;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        padding-left: 20px;

        strong.name {
            @include font-style(24);
            color: #222;
            font-weight: 600;
            margin-right: 12px;
        }

        .list {
            display: flex;

            li {
                color: #444;
                @include font-style;
                font-weight: 400;
                margin-right: 10px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 18px;
                    background-color: #eee;
                    top: 4px;
                    right: -5px;
                }

                &:last-child {
                    margin-right: 0;

                    &::after {
                        display: none;
                    }
                }

            }
        }
    }

    &-header {
        background-color: $green;
        color: #fff;
        height: 40px;
        padding-left: 12px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        @include flex(sb);

        .btn {
            background-color: #028b70;
            color: #fff;
            height: 40px;
            width: 40px;
            font-size: 20px;
            border-top-right-radius: 8px;
            @include flex();
        }
    }

    &-body {
        min-height: 100px;

    }

    &-footer {
        height: 60px;
        background-color: #f6f6f6;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        @include flex;
        border-top: 1px solid #ddd;

        button {
            min-width: 100px;
        }
    }
}
