.pagination{
    display: flex;
    justify-content: center;

    .box{
        display: flex;
        align-items: center;
    }


    ol{
        display: flex;
    }

    li.active{
        background-color: #ea7851;
        color: #fff;
    }

    .mx{
        margin: 0;
    }


    button, li{
        width: 30px;
        height: 30px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2px;
        cursor: pointer;
    }

    button{
        font-size: 10px;
    }
}