// 프린트 모달 css
.print-modal{
    .modal-content{
        height: 100vh;
    }
    .modal-body{
        height: 100%;
    }
}


.print-aria {
    display: flex;
    flex-direction: column;
    height: 297mm;
    width: 210mm;
    padding: 0 30px 20px 30px;
    background-color: $white;

    &-header{
        padding-top: 20px;
        img{
            width: 100%;
        }
    }

    &-right, &-left{
        width: 50%;
    }

    &-body {
        display: flex;
        flex-direction: column;
        height: 297mm;

        .problem {
            width: 100%;
            overflow: hidden;
            padding-left: 10px;
            padding-right: 33.84px;

            &-header{
                margin-bottom: 20px;
                h4{
                    @include flex(sb);
                }

                .num{
                    font-size: 25px;
                    color: $green;
                    font-weight: 700;
                }
                strong{
                    font-size: 16px;
                    font-weight: 600;
                    color: #444;
                }
            }

            &-body{
                & > img{
                    margin-bottom: 15px;
                }
            }

            .item{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }

                img{
                    width: calc(100% - 38px);
                }
            }

            &-num{
                font-size: 16px;
            }

            img{
                width: 100%;
            }
        }
    }
}

// view 버전

.print-aria.print-aria-view{
    width: 1024px;
    border: 1px solid #eee;


    .problem{
        &-num{
            font-size: 22px;
        }
        
        &-header{
            .num{
                font-size: 32px;
            }
            strong{
                font-size: 20px;
            }
        }
    }


    .print-aria-left{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            border-right: 3px rgba(221, 221, 221, 0.452) dotted;
            top: 0;
            right: -2px;
        }
    }
}