.print-aria {
    // position: fixed;
    // z-index: 100;
    // left: 0;
    // top: -10px;
    // height: 297mm;
    // width: 210mm;
    .page {
        width: 1150px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        height: 1625px;

        .card {
            width: 50%;
            padding: 20px;

            &-head {
                @include flex(sb);
                margin-bottom: 20px;
                strong {
                    @include font-style(36);
                    color: $green;
                }
                span {
                    @include font-style(20);
                    font-weight: 600;
                }
            }

            .img-bottom {
                span {
                    margin-right: 10px;
                }
            }

            img {
                width: 100%;
            }
        }

        // &::after{
        //     content: "";
        //     width: 1px;
        //     height: 100%;
        //     background-color: #ccc;
        //     position: absolute;
        //     left: 50%;
        //     top: 0;
        //     transform: translateX(-50%);
        // }
    }
}

.print-aria {
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    height: 297mm;
    width: 210mm;


    &-body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        height: 297mm;

        .problem {
            width: 50%;
            padding: 20px;
            // border: 1px solid #ccc;
            overflow: hidden;

            &-header{
                margin-bottom: 20px;
                h4{
                    @include flex(sb);
                }

                .num{
                    font-size: 32px;
                    color: $green;
                    font-weight: 700;
                }
                strong{
                    font-size: 20px;
                    font-weight: 600;
                    color: #444;
                }
            }

            &-body{
                & > img{
                    margin-bottom: 15px;
                }
            }

            .item{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }

            img{
                width: 100%;
            }
        }
    }
}
