.select {
    height: 40px;
    min-width: 100px;
    border-radius: $radius;
    @include font-style(17);
    border: 1px solid #ccc;
    color: #666;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    
    .select-view{
        height: 100%;
        
        @include flex(start);
        h4{
            white-space: nowrap;
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 400;
            padding-left: 10px;
        }
    }

    .select-btn{
        position: absolute;
        top: 7px;
        right: 10px;
        i{
            font-size: 1px;
            color: #444;
        }
    }
    .select-list-box{
        position: absolute;
        top: 42px;
        left: 0;
        width: 100%;
        z-index: 1;
        overflow: hidden;
        transition: max-height 0.3s;
        max-height: 0;
        border-radius: 0;
    }

    .select-list{
        padding: 4px;
        background-color: $white;

        li{
            height: 30px;
            border-radius: 2px;
            padding: 0 10px;
            width: 100%;
            white-space: nowrap;
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover{
                background-color: #eee;
            }
        }
    }


    &.active {
        border-color: $border;

        .select-list-box {
            border-radius: $radius;
            max-height: 100px;
            border: 1px solid #ccc;
            overflow-y: auto;
        }

        .select-btn{
            top: 10px;
            transform: rotate(180deg);
        }
    }

    &.disabled{
        h4{
            color: #ccc;
        }
        i{
            color: #ccc;
        }
        cursor: not-allowed;
    }

}
