.table{
    // 테이블 공통속성
    thead{
        tr{
            width: 100%;
            display:flex;
            border-top: 2px solid #664e3d;
            border-bottom: 2px solid #664e3d;
            th{
                @include font-style(17);
                color: #664e3d;
                background: #e6ddd8;
                border-right: 1px solid #cfbfb7;
                padding: 13px 0;
            }
        }
    }
    tbody{
        display: block;
        overflow-y: scroll;
    }

    &.tableA{
        width: 100%;
        th{
            &:nth-last-child(2),
            &:last-child{
                border-right:none;
            }
            &:nth-child(1){
                width: calc(100%/8);
            }
            &:nth-child(2){
                width: calc(100%/8);
            }
            &:nth-child(3){
                width: calc(100%/8);
            }
            &:nth-child(4){
                width: calc(100%/8);
            }
            &:nth-child(5){
                width: calc(100%/8);
            }
            &:nth-child(6){
                width: calc(100%/8);
            }
            &:nth-child(7){
                width: calc(100%/8);
            }
            &:nth-child(8){
                width: calc((100%/8) - 8px);
            }
            &:last-child{
                width: 8px;
            }
        }
        tbody{
            height: 130px;
        tr{
            width: 100%;
            display: flex;

            td{
                border: none;
                border-right:1px solid #dee2e6;
                border-bottom:1px solid #dee2e6;
                &:first-child{
                    border-left:1px solid hsl(210, 14%, 89%);
                    width: calc((100% + 8px)/8);
                }
                &:nth-child(2){
                    width: calc((100% + 8px)/8);

                }
                &:nth-child(3){
                    width: calc((100% + 8px)/8);

                }
                &:nth-child(4){
                    width: calc((100% + 8px)/8);

                }
                &:nth-child(5){
                    width: calc((100% + 8px)/8);

                }
                &:nth-child(6){
                    width: calc((100% + 8px)/8);

                }
                &:nth-child(7){
                    width: calc((100% + 8px)/8);

                }
                &:last-child{
                    width: calc((100%/8) - 8px);

                }
            }
            }
        }
    }
    &.tableB{
        width: 100%;
        thead{
            tr{
                border-bottom: 2px solid #a19893;
            }
            th{
                &:last-child{
                    border-right:none;
                }
                &:nth-child(1){
                    width: 15%;
                }
                &:nth-child(2){
                    width: 40%;
                }
                &:nth-child(3){
                    width: 15%;
                }
                &:nth-child(4){
                    width: 30%;
                }
            }
        }
        tbody{
            background: #f6f6f6;
            padding: 11px;
            height: 180px;
            overflow-y: scroll;
            tr{
                display: flex;
                margin-bottom: 2px;
                position: relative;
                &:hover{
                    cursor: pointer;
                      &::before{
                        content:'';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 99%;
                        height: 93%;
                        border: 2px solid #ea7851;
                        border-radius: 5px;
                        z-index: 1;
                      }
                      td{
                        background: #ffeee8;
                        .btn-table{
                            position: relative;
                            z-index: 2;
                        }
                      }
                }
                td{
                    background: #fff;
                    border: none;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    padding: 10px 0;
                   
                    >div{
                        border-right: 1px solid #dbe4e2;
                    }
                    .name{
                        color: #0a9e7d;
                        font-weight: bold;
                        text-align: left;
                        padding-left: 10px; 
                    }
                    &:first-child{
                        border-radius: 5px 0 0 5px;
                        border-left: 1px solid #ddd;
                        width: 10%;
                    }
                    &:nth-child(2){
                        width: 43%;
                    }
                    &:nth-child(3){
                        width: 16%;
                    }
                    &:last-child{
                        border-radius: 0 5px 5px 0;
                        border-right: 1px solid #ddd;
                        width: 31%;
                        >div{
                            border-right:none;
                        }
                    }
                }
            }
        }
    }
}
tbody::-webkit-scrollbar {
    width: 8px;
}
tbody::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
tbody::-webkit-scrollbar-thumb {
    border-radius: 100px;
}

tbody::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #aaa;
}