.select-wrap{

    position: relative;
    display: inline-flex;
    font-size: 12px;
    width: 100%;
    height: 30px;
    top: 2px;
    text-align: left;
    background-color: #fff;

    .select-btn{
        width: 30px;
        height: 30px;
        border: 1px solid #999;
        background-color: #ccc;
        position: relative;

        &::after{
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-top: 8px solid #000;
            border-bottom: 8px solid transparent;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            position: absolute;
            left: 50%;
            top: 69%;
            transform: translate(-50%,-50%);
        }
    }

    .select-show{
        width: 100%;
        display: inline-block;
        border: 1px solid #999;
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        cursor: pointer;
        border-right: none;
        text-align: left;
    }


    &.active{
        .select-option{
            max-height: 150px;
            visibility: visible;
        }    
        .textbook-select-option{
            max-height: 150px;
            visibility: visible;
        }
    }

    .select-option{
        position: absolute;
        left: 0;
        top: 29px;
        width: calc(100% - 25px);
        max-height: 0px;
        transition: all 0.6s;
        overflow: auto;
        z-index: 100;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        border: 1px solid #999;
        visibility: hidden;

        .lookup{
            width: calc(100% - 10px);
            padding: 3px;
            text-align: center;
            border: 1px solid #000;
            border-radius: 5px;
            margin: 5px;
        }

        .all-box{
            padding-left: 10px;
            margin: 5px 0;
            display: flex;
            align-items: center;

            input[type=checkbox]{
                margin-right: 8px;
            }

            .isCheck{
                background-color: #000;
                box-shadow: 0 0 0 2px #fff inset;
            }
        }

        .item-list{
            li{
                @extend .all-box
            }
        }

        .option-item{
            width: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            padding-left: 5px;

            &::before{
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                border: 1px solid #000;
                margin-right: 5px;
                background-color: #fff;
            }

            &.isContent{

                &::before{
                    background-color: #000;
                    box-shadow: 0 0 0 2px #fff inset;
                }
            }
       
            &.active{
                
                &::before{
                    background-color: #000;
                    box-shadow: none;
                }
            }

            

        }
    }


    .textbook-select-option{
        position: absolute;
        visibility: hidden;
        left: 0;
        top: 29px;
        width: calc(100% - 25px);
        max-height: 0px;
        transition: all 0.6s;
        overflow: auto;
        z-index: 100;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        border: 1px solid #999;
        // padding: 5px;

        .option-item{
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 5px;

            .checkbox{
                width: 25px;
                height: 25px;
                border: 1px solid #000;
            }

            &.active{
                .checkbox{
                    position: relative;

                    &::before{
                        content: '';
                        position: absolute;
                        width: 12px;
                        left: 32%;
                        top: 53%;
                        transform: translate(-50%, -50%) rotate(45deg);
                        height: 3px;
                        background-color: #000;
                        border-radius: 1px;
                    }

                    &::after{
                        content: '';
                        position: absolute;
                        width: 20px;
                        left: 72%;
                        top: 40%;
                        transform: translate(-50%, -50%) rotate(130deg);
                        height: 3px;
                        background-color: #000;
                        border-radius: 1px;
                    }

                }
            }
        }
    }

}