.lbt-option{

    .left,.right{
        width: 100%;
        margin-bottom: 20px;
    }

    .lbt-bookarea{
        
    }

}

input.form-control{
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #ccc;
}


.AttendanceManagement{
    &-header{
        justify-content: space-between;
        margin-bottom: 20px;
    }
}