.attendence {
    &-head {
        position: relative;
        margin-bottom: 60px;

        &::after {
            content: "";
            height: 1px;
            background-color: #eee;
            position: absolute;
            left: -30px;
            width: calc(100% + 60px);
            bottom: 0px;
            bottom: -20px;
        }
    }

    &-body {
        .search {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }

        table {
            td:first-child {
                color: $green;
                font-weight: 500;
                @include flex;
            }
            td:nth-child(2) {
                @include flex;
                button {
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }

    &-footer {
        text-align: right;
        margin-top: 20px;
    }
}

.pencil-input {
    display: inline-block;
    width: 100%;
    position: relative;
    textarea {
        padding: 6px 50px;
        height: 40px;
        @include font-style();
        font-weight: 400;
        border: 1px solid #ccc;
        border-radius: 4px;

        &::placeholder {
            color: #ccc;
        }

        &:focus {
            border: 1px solid #666;
            color: #444;
        }

        &:disabled {
            color: #ccc;
            border: 1px solid #e5e5e5;
            background: #f2f2f2;
        }
    }
    button {
        width: 40px;
        height: 40px;
        background-image: url("../assets/pencil.svg");
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0;
    }
}