// 학생별 수업관리 - 수업관리
.classManagement{
    table{
        thead{
            th{
                padding: 8px 0;
            }
        }
        .unit1{
            td{
                background: #f2eeeb;
                @include font-style(20);
                padding: 9px 0 9px 10px;
                border: none !important;
            }
           
        }
        
    }

    tbody{
        max-height: 482px;
        >tr{
            >td {
                padding: 5px 0 !important;
                >div{
                    @include flex(center);
                    flex-direction: column;
                }   
            }
            td.active{
                background:  #fff0eb;
            }
            .fs{
                padding: 9px 0 9px 10px !important;
            }
        }
    }

    .btn-creation{
      background: #8f7361;
      height: 30px;
      @include font-style(16);
      min-width: 0 !important;
      margin-top: 4px;
      color: #fff;
      border-radius: $radius;
      padding: 0 10px;
    }
    .btn-table{
        @include font-style(16);
        margin-top: 4px;
    }
}

.progressModal{
    width: 1080px;
    .top{
        padding: 20px 20px 0 20px;
        &-table{
            border-top: 2px solid #664e3d;
            height: 70px;
            &__tit{
                font-size: 17px;
                color: #664e3d;
                height: 100%;
                font-weight: 600;
                background: #e6ddd8;
                border-right: 1px solid #cfbfb7;
                border-bottom: 1px solid #cfbfb7;
            
            }
            &__bar{
                height: 100%;
                li{
                    height: 50%;
                    position: relative;
                    .tit{
                        font-size: 17px;
                        width: 80px;
                        font-weight: 600;
                        color: #664e3d;
                        height: 100%;
                        background:#e6ddd8;
                        border-bottom: 1px solid #cfbfb7;
                        
                    }
                    .gageWrap{
                        height: 100%;
                        border-bottom: 1px solid #eee;
                        &-gage{
                            position: absolute;
                            color: #fff;
                            background: #ea7851;
                            height: 20px;
                            @include font-style(17);
                            @include flex;
                        }
                        &-item{
                            width: 113px;
                            font-size: 17px;
                            color: #ccc;
                            height: 100%;
                            border-right: 1px solid #eee;
                            @include flex;
                        }
                    }
                    .con{
                        height: 100%;
                        width: 100px;
                        border-bottom: 1px solid #eee;
                        border-right: 1px solid #eee;
                    }
                }
            }

        }
    }    
    .contents{
        padding: 20px;
        table{
            thead{
                text-align: center;
            }
            tbody{
                max-height: 400px;
                .unit1{
                    @include font-style(20);
                    background: #f2eeeb;
                    border-bottom: 1px solid #cfbfb7;
                    border-top: 1px solid #cfbfb7;
                    font-weight: 500;
                }
                tr{
                    &:first-child{
                        td{
                            border-top: none;
                        }
                    }
                }
                .empty{
                    background: #dddddd;
                }
               
            }
        }
    }


}

.creationModal{
    width: 1080px;
    .contents{
        padding: 20px;
        &-tit{
            height: 50px;
            margin-bottom: 20px;
            .tit{
                border-top: 2px solid #664e3d;
                background: #e6ddd8;
                color: #664e3d;
                border-bottom: 1px solid #cfbfb7;
                height: 100%;
                font-weight: 600;
                width: 80px;
                
            }
            .text{
                height: 100%;
                border-top: 2px solid #664e3d;
                border-bottom: 1px solid #eee;
                width: calc(100% - 80px);
                padding-left: 9px;
                input{
                    position: relative;
                    top: 1px;
                }
            }
        }
        &-table{
            th{
                @include flex;        
                padding: 5px 0 !important;  
                position: relative;      
            }
            tbody{
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
              tr{
                &:last-child{
                    border-bottom: 1px solid #ddd;
                }
              
              }
            }
            .btn-table{
                min-width: 0 !important;
                width: 70px !important;
                padding: 0 !important;
            }
          
        }
    }
    .toggle{
        cursor: pointer;
        i{
            transform:scale(0.4);
        }
            &.open{
                i{
                    transform:scale(0.4)rotate(180deg);

                }
            }
    }
    .filter{
        position: absolute;
        left: 0;
        width: 100px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        top: 43px;
        padding: 5px;
        z-index: 1;

        .checkWrap{
            margin-bottom:3px;

            label{
                @include font-style(14);
                color: #664e3d;
                font-weight: normal;
                margin-left: 4px;
            }
        }
        .line{
            height: 1px;
            border-bottom: 1px dashed #664e3d;
            margin: 5px 0;
        }
    }
   
}
.wrongAnswerMaster{
   .wrongAnswerMaster-table > thead > tr > th,
   .wrongAnswerMaster-table > tbody > tr > td{
    padding: 21px 0;
   }   
}