@function flexFn($param){
    @if($param == center){
        @return center
    };

    @if($param == start){
        @return flex-start
    };

    @if($param == end){
        @return flex-end
    };
    @if($param == sb){
        @return space-between
    };
    @if($param == sa){
        @return space-around
    };
};

@for $i from 5 through 15 {
    .mr-#{$i}{
        margin-right: #{$i}px;
    }
    .mt-#{$i}{
        margin-top: #{$i}px;
    }
    .ml-#{$i}{
        margin-left: #{$i}px;
    }
    .mb-#{$i}{
        margin-bottom: #{$i}px;
    }
    .mx-#{$i}{
        margin: 0 #{$i}px;
    }
    .my-#{$i}{
        margin:  #{$i}px 0;
    }
    .pr-#{$i}{
        padding-right: #{$i}px;
    }
    .pt-#{$i}{
        padding-top: #{$i}px;
    }
    .pl-#{$i}{
        padding-left: #{$i}px;
    }
    .pb-#{$i}{
        padding-bottom: #{$i}px;
    }
    .px-#{$i}{
        padding: 0 #{$i}px;
    }
    .py-#{$i}{
        padding:  #{$i}px 0;
    }
}


@mixin flex($jc : center , $ai : center) {
    display: flex;
    justify-content: flexFn($jc);
    align-items: flexFn($ai);
}

@mixin pos-center($position : absolute) {
    position: $position;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


// body{
//     @include flex(start, start);
//     @include pos-center()
// }




