// 플러스 러닝
.PlusLearningGradingModal{
    .modal-content{
        width: 1200px;
    }
    .layout{
        width: 50%;
        padding: 20px;
        border-right: 1px solid #ddd;

        &:last-child{
            border-right: none;
        }
    }

    .problem-btn{
        margin-bottom: 20px;

        button{
            min-width: 100px;
        }
    }

    .problem{
        border: 1px solid #ddd;
        height: 240px;
        overflow-y: auto;
        margin-bottom: 20px;
    }

    table{
        width: 100%;
        margin-bottom: 20px;

        tr{
            display: table-row !important;
        }
        td, th{
            text-align: center;
            padding: 0 !important;
        }
        td:first-child{
            text-align: left;
        }
        thead{
            height: 35px;
        }
        tbody{
            display: table-row-group !important;
            td{
                height: 45px;
            }
        }
        tfoot{
            background-color: #f2eeeb;
            border-top: 2px solid #b9a89c;
            border-bottom: 2px solid #b9a89c;
            height: 45px;
        }
    }

    .opinion{
        h5{
            background-color: #e6ddd8;
            border-top: 2px solid #664e3d;
            border-bottom: 2px solid #a19893;
            height: 35px;
            @include flex;
            @include font-style(17);
            color: #664e3d;
            font-weight: 600;

        }

        textarea{
            height: 100px;
            border-top: none;
            padding: 10px;
            @include font-style();
            border: 1px solid #ddd;
        }
    }

    .upload{
        display: flex;
        div, button, label{
            height: 40px;

        }

        &-file{
            width: calc(100% - 200px);
            border: 1px solid #aaa;
            padding-left: 15px;
            
            .file{
                @include flex(start);
                color: #444;
                i{
                    margin-right: 8px
                }
            }
        }
        &-button{
            label{
                @include flex();
                background-color: $orange;
                color: $white;
                width: 90px;
                border-radius: $radius;
            }
        }
        button{
            width: 40px;
            background-color: #eee;
            border: 1px solid #ccc;
            font-weight: 500;
            color: #444;
            font-size: 18px;
            border-radius: $radius;
        }
    }

    .answer{
        height: 340px;
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 30px;
        
        &-header{
            height: 40px;
            padding-left: 10px;
            display: flex;
            align-items: center;
        }
        
        &-body{
            position: relative;
            height: calc(100% - 40px);
            img{
                width: 100%;
            }

            .plus{
                position: absolute;
                width: 40px;
                height: 40px;
                bottom: 30px;
                right: 130px;
                background-color: rgba(0,0,0,0.6);
                border-radius: 50%;
                color: $white;
            }

            .minus{
                @extend .plus;
                right:80px;
            }
            
            .download{
                @extend .plus;
                right: 30px;
                color: #000;
                background-color: rgba(256,256,256,0.8);
                font-size: 17px;
                i{
                    transform: rotate(180deg);
                }
            }
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.PlusLearningGradingTextBookModal{
    .text-alert{
        @include font-style(16);
        line-height: 27px;
    }

    .btn-group{
        button{
            width: 80px;
            min-width: 80px;
        }
    }

    .answer-list{
        background-color: #fff;
        border-radius: $radius;
        overflow: hidden;
        margin-top: 20px;

        li{
            display: flex;
            border-bottom: 1px solid #ddd;
            height: 40px;
            
            div{
                @include flex;
                border-right: 1px solid #ddd;
            }

            div:nth-child(1){
                width: 80px;
            }
            div:nth-child(2){
                width: 100%;
            }
            div:nth-child(3){
                width: 150px;
                border: none;
            }

            &:first-child{
                background-color: $brown;
                color: $white;
                border-bottom: none;
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }

    .btn-red{
        background-color: #eb615a;
        color: #fff;
        height: 30px;
        width: 60px;
        border-radius: $radius;
        @include font-style(16);
        font-weight: 500;
    }

    .btn-red-border{
        @extend .btn-red;
        border: 1px solid #eb615a;
        background-color: $white;
        color: #eb615a;
    }
}