// 플러스 러닝
.narrative-table, .TextBook-table{
    & > thead th{
        padding: 23px 0;
    }
    & > tbody > tr > td{
        padding: 9px
    }
}

.Narrative{
    position: relative;
    
    .btn-retry{
        position: absolute;
        right: 0;
        top: 0;
    }

    .btn-score{
        &:hover{
           color : $orange;
           cursor: pointer;           
        }
    }

    

}

.TextBook{
    position: relative;

    .CustomDatePicker-btn{
        min-width: auto;
        padding: 10px;
        border-color: #e5e5e5;
    }
    
    .btn-retry{
        position: absolute;
        right: 0;
        top: 0;
    }

    &-text-alert{
        font-weight: 600;
        color: #eb615a;
    }
}

.PlusLearningGradingModal{
    .modal-content{
        width: 1240px;
        height: 98vh;
    }

    .modal-body{
        height: calc(100% - 110px);
    }

    .grading-content{
        height: calc(100% - 50px);
        overflow: auto;
        padding: 20px;
    }

    .button-group{
        padding-bottom: 20px;
        button{
            min-width: 100px;
        }
    }

    .grading-problem{
        height: 240px;
        overflow: auto;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 20px;

        img{
            width: 100%
        }
    }

    .alert-msg{
        font-size: 20px;
        color: #ccc;
        font-weight: 400;
        @include pos-center;
    }

    .grading-table{
        margin-bottom: 25px;
        table{
            width: 100%;
            td{
                border-right: 1px solid #eee;
                text-align: center;
                padding: 5px;
                &:last-child{
                    border-right: none;
                }
            }
            thead{
                background-color: #e6ddd8;
                border-top: 2px solid#664e3d;
                border-bottom: 2px solid#a19893;
                height: 33px;

                th{
                    color: $brown;
                    font-size: 17px;
                    font-weight: 600;
                    border-right: 1px solid #cfbfb7;
                    text-align: center;
                    &:last-child{
                        border-right: none
                    }
                }
            }

            tbody{
                td:first-child{
                    text-align: left;
                }

                .select{
                    text-align: left;
                    min-width: 70px;
                    height: 30px;
                    .select-list-box{
                        top: 29px;
                        transition: all 0.6s;

                        .select-list{
                            li{
                                height: 28px;
                                line-height: 28px;
                            }
                        }
                    }
                    &.active{
                        .select-list-box{
                            max-height: none;
                        }
                        
                        .select-btn{
                            top: 2px
                        }
                    }
                    &-btn{
                        top: 2px;
                        right: 5px;
                        transform: scale(0.7);
                    }
                }
                
                tr{
                    border-bottom:1px solid #eee;
                    &:last-child{
                        border-bottom: none
                    }
                }
            }

            tfoot{
                background-color: #f2eeeb;
                border-top: 2px solid#b9a89c;
                border-bottom: 2px solid #b9a89c;
                height: 42px;
                td{
                    border-right: 1px solid #cfbfb7;

                    &:last-child{
                        background-color: $brown;
                        color: #ea7851;
                    }
                }
            }
        }
    }

    .grading-opinion{
        position: relative;
        h5{
            background-color: #e6ddd8;
            border-top: 2px solid #664e3d;
            border-bottom: 2px solid #a19893;
            height: 35px;
            @include flex;
            @include font-style(17);
            color: #664e3d;
            font-weight: 600;

        }

        textarea{
            height: 150px;
            border-top: none;
            padding: 10px;
            @include font-style();
            border: 1px solid #ddd;
        }
    }

    .upload{
        display: flex;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }

        button, label{
            height: 40px;
        }

        &-file{
            width: calc(100% - 200px);
            border: 1px solid #aaa;
            padding-left: 15px;
            height: 40px;
            overflow: auto;
            
            .file{
                @include flex(start);
                color: #444;
                i{
                    margin-right: 8px
                }
            }
        }
        &-button{
            label{
                @include flex();
                background-color: $orange;
                color: $white;
                width: 90px;
                border-radius: $radius;
            }
        }
        button{
            width: 40px;
            background-color: #eee;
            border: 1px solid #ccc;
            font-weight: 500;
            color: #444;
            font-size: 18px;
            border-radius: $radius;
        }
    }

    .options-wrap{
        height: 390px;
        overflow: auto;
        border: 1px solid #ccc;
    }

    .answer{
        height: 340px;
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 30px;
        position: relative;

        &-header{
            height: 40px;
            padding-left: 10px;
            display: flex;
            align-items: center;
        }
        
        &-body{
            position: relative;
            height: calc(100% - 40px);
            overflow: auto;
            padding: 20px;
            img{
                width: 100%;
            }

            .plus{
                position: absolute;
                width: 40px;
                height: 40px;
                bottom: 30px;
                right:80px;
                background-color: rgba(0,0,0,0.6);
                border-radius: 50%;
                color: $white;
                font-size: 18px;
            }

            // .minus{
            //     @extend .plus;
            //     right:80px;
            // }
            
            .download{
                @extend .plus;
                right: 30px;
                color: #000;
                background-color: rgba(256,256,256,0.8);
                font-size: 17px;
                background-color: #fff;
                border: 1px solid #ccc;

                i{
                    transform: rotate(180deg);
                }
            }
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}


.PlusLearningGradingTextBookModal{
    .text-alert{
        @include font-style(16);
        line-height: 27px;
    }

    .btn-group{
        button{
            width: 80px;
            min-width: 80px;
        }
    }

    .answer-list{
        background-color: #fff;
        border-radius: $radius;
        overflow: hidden;
        margin-top: 20px;

        li{
            display: flex;
            border-bottom: 1px solid #ddd;
            height: 40px;
            
            div{
                @include flex;
                border-right: 1px solid #ddd;
            }

            div:nth-child(1){
                width: 80px;
            }
            div:nth-child(2){
                width: 100%;
            }
            div:nth-child(3){
                width: 150px;
                border: none;
            }

            &:first-child{
                background-color: $brown;
                color: $white;
                border-bottom: none;
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }

    .btn-red{
        background-color: #eb615a;
        color: #fff;
        height: 30px;
        width: 60px;
        border-radius: $radius;
        @include font-style(16);
        font-weight: 500;
        border: none
    }

    .btn-red-border{
        @extend .btn-red;
        border: 1px solid #eb615a;
        background-color: $white;
        color: #eb615a;
    }
}


.narrative-print{
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
    border: 1px solid #eee;
    img{
        width: 100%;
    }

}

.narrative-print-a4{
    width: 210mm;
    height: 297mm;
    padding: 20px;
    img{
        width: 100%;
    }
}