.carat {
    display: inline-block;
    width: 19px;
    height: 17px;
    background-image: url("../assets/img/carat.png");
    background-position: center;
    background-size: cover;
}

.mineral {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/img/mineral.png");
    background-position: center;
    background-size: cover;
}

.Statistics {
    .tabs-header {
        strong {
            color: $orange;
            font-weight: 600;
            margin-right: 10px;
        }
        button {
            min-width: 70px;
        }
    }

    .Statistics-table {
        td:nth-child(2) {
            font-weight: 500;
        }
    }
}

.point-list-table {
    & > thead > tr > th {
        height: 46px;
    }
    & > tbody > tr > td {
        padding: 15px 12px;
    }

    .sort-btn {
        transform: scale(0.5);
        i {
            color: $brown;
        }
    }
}

.StatisticsStandard {
    padding: 15px;
    background-color: #f2eeeb;
    border-radius: $radius;
    position: absolute;
    z-index: 1;
    width: 1000px;
    top: 50px;
    left: 0;

    th,
    td {
        text-align: center;
        border-right: 1px solid #ddd;
    }

    thead {
        background-color: #e6ddd8;
        color: $brown;
        border-bottom: 2px solid #a19893;

        th {
            font-weight: 600;
            @include font-style(17);
            height: 35px;
        }
    }
    table {
        width: 100%;
        border-bottom: 2px solid $brown;
        border-top: 2px solid $brown;
        border-left: 1px solid #ddd;

        tr {
            border-bottom: 1px solid #ddd;
        }

        td {
            height: 40px;
            color: #444;
            font-weight: 400;
            background-color: #fff;
        }
    }
}

.PointModal {
    &-body {
        padding: 20px;
    }

    .modal-content {
        width: 1040px;
    }
    table {
        width: 100%;
        margin-top: 14px;
        border-bottom: 1px solid #ddd;
        thead {
            background-color: #e6ddd8;
            border-top: 2px solid $brown;
            border-bottom: 2px solid #a19893;
            th {
                @include font-style(17);
                color: $brown;
                font-weight: 600;
                height: 35px;
                text-align: center;
                border-right: 1px solid #cfbfb7;

                &:last-child {
                    border-right: none;
                }
            }
        }
        td {
            height: 40px;
            text-align: center;
            border-right: 1px solid #ddd;
            color: #444;
            font-weight: 400;
            &:nth-child(2) {
                font-weight: 400 !important;
            }
        }
        tr {
            border-bottom: 1px solid #ddd;
            border-left: 1px solid #ddd;
        }

        tfoot {
            td:first-child {
                background-color: #f2eeeb;
                color: $brown;
                @include font-style(17);
                font-weight: 600;
            }
        }
    }
}
