
// 오늘의 수업
.TodayClass{
    position: relative;
    &::after{
        content:'';
        height: 1px;
        background: #eee;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;

    }
    .date-area{
        display: flex;
        padding-bottom: 20px;
        margin-bottom: 55px;
    }

    .table-top{
        margin-bottom: 20px;
        .update{
            vertical-align: middle;
            margin-left: 5px;
        }
    }
    .tableC{
        th{
            padding: 6px 0;
        }
    }
    .tableHead{
        display: flex;
        border-top: 2px solid #664e3d;
        border-bottom: 2px solid #a19893;
        color: #664e3d;
        background: #e6ddd8;
        font-weight: 600;
        > div{
            height: 70px;
            line-height: 70px;
            >div{
                height: 35px;
                line-height: 35px;

            }
        }
        div{
            border-right: 1px solid #cfbfb7;
            text-align: center;
        }
        .state{
            border-right: none;
            border-bottom: 1px solid #cfbfb7;
        }
    }
    .scrollWrap{
        border-bottom: 1px solid #ddd;
        max-height:550px;
        overflow-y: scroll;
        overflow-x: hidden;
        .item{
            .name{
                @include flex(center,start);
                flex-direction: column;
                padding-left:9px;
                strong{
                    color: #00a37f;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
            .stateWrap{
                >*{
                    padding: 9px 0;
                }
            }
            .asse{
               position: relative;
               display: flex;
               width: 100px;
               height: 30px;
                &::after{
                    content:'';
                    display: block;
                    position: absolute;
                    width: 1px;
                    height: 20px;
                    background: #fff;
                    @include pos-center;
                    left: 47.8%;
                }
            }
            .state5{
                flex-direction: column;
            }
            .btn-table{
                @include font-style(16);
                padding: 0;
            }
            div.active{
                background:  #fff0eb;
            }
        }
        div.disabled{
            background: #f6f6f6;
        }
        .br{
            border-right: 1px solid #ddd
        }
        .bb{
            border-bottom: 1px solid #ddd;
        }
        .flex{
            display: flex;
        }
    }
}