.wrongAnswerMaster{
    .table{
        td{
            .title{
                // width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; 
            }
            .done{
                color: #ea7851;

            }
        }
        tbody{
            max-height: 500px;
        }
    }
}
