
@import './options/mixin';
@import "./options/variable";
@import "./options/font-style";

@import "./options/reset";
@import "./options/utility";

// ui
@import './ui/select';
@import './ui/modal';
@import './ui/button';
@import "./ui/input";
@import "./ui/checkbox";


// layout : gnb , lnb title
@import "./options/layout";

@import "./shin.scss";

pre{
    background-color: rgb(235, 235, 235);
    font-size: 18px;
    font-weight: 500;
}
