
// options
@import './options/mixin';
@import "./options/variable";
@import "./options/font-style";

// reset, utility
@import "./options/reset";
@import "./options/utility";

// ui
@import './ui/select';
@import './ui/modal';
@import './ui/button';
@import "./ui/input";
@import "./ui/checkbox";
@import "./ui/table";
@import "./ui/audio";
@import "./ui/radio";
@import "./ui/alertbox";
@import "./ui/datepicker";
@import "./ui/calendar";
@import "./ui/print-aria";


// layout : gnb , lnb title
@import "./options/layout";

@import "./shin.scss";
@import "./yeon.scss";

pre{
    background-color: rgb(235, 235, 235);
    font-size: 18px;
    font-weight: 500;
}

