
@import './options/mixin';
@import "./options/variable";
@import "./options/font-style";

@import "./options/reset";
@import "./options/utility";

// ui
@import './ui/select';
@import './ui/modal';


input[type="text"].form-control{
    display: block;
    width : 100%;
    border-radius: 0.25rem;
    height: 30px;
    padding: 0.375rem 0.75rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $border;
    
    &:focus{
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(22, 134, 255, 0.25);
    }

    &:disabled{
        background-color: rgb(209, 209, 209);
    }
}


.user-info{
        
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;

    & > div {
        width: 33.33333%;
        display: flex;

        dt{
            background-color: rgb(85, 85, 85);
            color: #fff;
            padding-left: 10px;
        }

        dt,dd { 
            display: flex;
            height: 100%;
            align-items: center;
            width: 100%
        }
    }
}


.lbt-option{

    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;

    .lbt-bookarea{
        padding: 20px;
        display: flex;

        .all-subject{
            background-color: orange;
            padding: 10px;
        }

        .item-subject{
            padding: 10px;
        }
    }
    

    .left,.right{
        width: 100%;
        margin-bottom: 20px;
    }

    &__list{
        li{
            @include flex(sb);

            &:last-child{
                margin-bottom: 20px;
            }
        }
    }

}


.students-contents{
    width: 70%;
}

.students-table{
    thead{
        position: sticky;
        top: -1px;
        background-color: rgb(255, 207, 117);
    }
}


.AttendanceManagement{
    &-header{
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .calendar{
        display: flex;
        flex-wrap: wrap;
        border-left: 1px solid #ccc;

        & > div{
            width: calc(100% / 7);
            height: 118.95px;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }

        .today{
            background-color: orange;
        }
    }

}

.PlusLearningGradingModal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
    left: 0;
    top: 0;
    text-align: left;

    .modal{
        width: 1500px;
        height: 90vh;
        overflow: auto;
        background-color: #fff;
        @include pos-center();

        header{
            @include flex(sb);
            background-color: orangered;
            color: #fff;
            padding: 10px;
        }
    }
    
    .content{
        padding: 10px;

        &-left{
            width: calc(45% - 10px);
            margin-right: 10px;

            .problem-box{
                height: 300px;
                border: 1px solid #ccc;
                overflow: auto;
                margin-top: 20px;
                padding: 10px;

                img{
                    width: 100%;
                }
            }

            .file-wrap{
                width: 60%;
                border: 1px solid #ccc;
                padding: 10px;
                min-height: 80px;
                text-align: left;
            }
        }
        &-right{
            width: 55%;

            .result-box{
                 height: 300px;
                 img{
                    width: 100%;
                    height: 300px;
                    object-fit: contain;
                 }
            }
        }
    }
}


.EvaluationJindanContent{

    .name-input{
        width: 100px !important;
    }

    .evaluation-print{
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 1px solid #eee;
        margin: 20px 0;
        padding: 20px;
    }

    
}

.StatisticsSearch{
    input[type=text].form-control{
        width: 100px;
    }
}

.btn-sort{
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 8px solid #000;
        border-bottom: 8px solid transparent;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        position: absolute;
        left: 50%;
        top: 69%;
        transform: translate(-50%, -50%);
    }

    &.asc{
        &::after{
            top: 30%;
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }
}

.StatisticsStandard{
    max-height: 0px;
    overflow: hidden;
    transition: all 0.6s;

    &.active{
        max-height: 200px;
    }
}

.datepicker{
    .react-date-picker__wrapper{
        border: 1px solid #0069d9;
    }
}

.table-box{
    overflow: auto;
    border: 1px solid #dee2e6;

    thead{
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 20;

        th{
            border: none;
            border-right: 1px solid #dee2e6;

            &:last-child{
                border-right: none;
            }
        }
    }
    tbody{

        td:first-child{
            border-left: none;
        }
        td:last-child{
            border-right: none;
        }

        tr:last-child{
            td{
                border-bottom: none;
            }
        }
    }
}

.Reservation-datepicker{
    display: flex;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 30px;

    .box{
        border: 1px solid $border;
        padding: 10px;
        background-color: #fff;
    }
}

.react-date-picker{
    position: relative;
    top: 3px;
}

pre{
    background-color: rgb(235, 235, 235);
    font-size: 18px;
    font-weight: 500;
}