// 출석체크

%content-border {
    content: "";
    height: 1px;
    background-color: #eee;
    position: absolute;
    left: -30px;
    width: calc(100% + 60px);
    bottom: 0px;
}

.attendence {
    &-head {
        position: relative;
        margin-bottom: 60px;

        &::after {
            @extend %content-border;
            bottom: -20px;
        }
    }

    &-body {
        .search {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }

    }

    &-footer {
        text-align: right;
        margin-top: 20px;
    }
}

// 학생별 수업관리 학생 리스트
.student-list {
    &-header {
        margin-bottom: 20px;

        .title {
            @include font-style(24);
            color: #222;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }

    &-footer {
        margin-top: 20px;
        text-align: center;
    }
}

.LbtDayOption{
    .option{
        background-color: #f2eeeb;
        padding: 20px;
        margin-top: 15px;

        p{
            font-weight: 600;
            @include font-style(18);
            color: #664e3d;
        }

        .book-list{
            display: flex;
            height: 120px;
            overflow-y: auto;
            .title{
                width: 146px;
                padding: 20px 15px;
                background-color: #e6ddd8;
            }

            .book{
                width: 262px;
                background-color: $white;
                padding: 15px 5px;
                overflow-y: auto;
            }
        }
    }
}

