@import "./ui/datepicker";

// 출석체크

.attendence{
    &-head{
        
    }

    &-body{
        padding: 30px;

        .search{
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }
    }
}


