@import './mixin';

// 유틸리티 클래스

.justify-content-between{
    display: flex;
    justify-content: space-between;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.btn{
    height: 30px;
    border-radius: 5px;
    border: 1px solid #999;
    min-width: 100px;
    padding: 0 10px;
    background: linear-gradient(to bottom, white 45%, rgb(187, 187, 187));

    &.active{
        border: 1px solid orangered;
        background: linear-gradient(to bottom, white 45%, orangered)
    }
}

.fj{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-bg{
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: left;

    .modal-content{
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: #fff;
        transform: translate(-50%,-50%);
        
        .modal-body{
            max-height: 500px;
        }

        header{
            background-color: orangered;
            padding: 10px;
        }

        .modal-body{
            padding: 10px;
        }
    }
}