@import "./todayClass";
@import "./classManagement";
@import "./wrongAnswerMaster";
@import "./EvaluationRoutineContent";
@import "./referenceNotification";

// 수행평가 모달
.assessmentModal{
    // width: 50%;
    width: 640px;

    .audio-alert{
        color: #ea5750;
        height: 78px;
        font-weight: 600;
        @include font-style(18);
        i{margin-right: 6px;}
    }
    .contents{
        padding: 20px;
        &-audio{
            border: 2px solid #eee;
            @include flex(center);
            flex-direction: column;
            padding: 15px 20px;
            border-radius: $radius;

            .top{
                width: 100%;
            }
            .foot{
                width: 100%;
                position: relative;
                &-mid{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        table{
            width: 100%;
            tbody{
                border-top: 2px solid #664e3d;
                tr{
                    border-bottom: 1px solid #eee;
                }
                th{
                    background:#e6ddd8;
                    color: #664e3d;
                    text-align: center;
                    @include font-style(17);
                }
                td{
                    @include font-style(17);
                    padding: 8px 18px 8px 10px;
                    color: #666;
                }
            }
        }
    }
}

// 학습태도 평가 모달

.attModal{
    width: 600px;
    .contents{
        &-item{
            border-bottom: 1px solid #eee;
            padding: 10px 0;
            &:first-of-type{
                border-top: 2px solid #664e3d;
            }
            h6{
                @include font-style(18);
                margin-bottom: 6px;
                font-weight: 500;
            }
            
        
        }
    }
    
}


.scoreNum{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #eee;
    text-align: center;
    line-height: 32px;
    font-size: 17px;
    margin: 0 5px;
    cursor: pointer;
    &.active{
        color: #fff;
        background: #ea7851;
    }
}

.m-tit{
    @include font-style(20);
    color: #664e3d;
    img{
        position: relative;
        top: 2px;
        margin-right: 8px;
    }
}

.warning{
    color: #ea5750;
    font-weight: 600;
}

.playBtn{
    border: 2px solid #666;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    margin-bottom: 4px;
    i{
        position: absolute;
        top: 6px;
        left: 9px;
    }
    &.disabled{
        background: #eee;
        border: 2px solid #eee;

    }
    &.new{
        &::after{
            content: "N";
            display: inline-block;
            border-radius: 3px;
            background: red;
            color: #fff;
            width: 18px;
            height: 18px;
            font-size: 14px;
            text-align: center;
            line-height: 18px;
            font-weight: 500;
            position: absolute;
            top: -7px;
            left: 19px;
        }
    }
}

.resultPopModal{
    width: 1080px;

    &-table{
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 0px 0px 1px #e6ddd8;

        & > thead{
            border: none;
            & > tr > th{
                height: 38px;
                border-color: #473326;
                background-color: $brown;
                color: $white;
            }
        }
        tbody{
            td{
                background-color: #fff;
                height: 40px;

                &:first-child{
                    color: #222;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }

    &-content{
        background-color: #f7f3f0;
        padding: 20px;
        display: flex;

        .left{
            width: 400px;
            margin-right: 10px;

            &-header{
                margin-bottom: 10px;
            }

            .count-label{
                font-weight: 600;
                color: #444;
                margin-right: 4px;
            }

            .count{
                width: 100px;
                height: 30px;
                color: $white;
                background-color: #be9e7f;
                border-radius: $radius;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                font-weight: 600;
                margin-right: 4px;
            }

            .videoPlayer{
                @include pos-center;
                width: 800px;
                z-index: 2;
                .top{
                    height: 40px;
                    width: 100%;
                    border-radius: 8px 8px 0 0;
                    display:flex;
                    justify-content: end;
                    button{
                        width: 40px;
                        height: 40px;
                    }
                }
                video{
                }
        
            }
        }

        .right{
            width: calc(100% - 410px);
            .problem{
                border: 1px solid #e6ddd8;
                border-radius: 8px;
                height: 558px;
                padding: 30px;
                background-color: #fff;

                &-header{
                    @include flex(sb);
                    margin-bottom: 15px;
                }

                &-num{
                   font-weight: 700;
                   color: $green;
                   font-size: 36px; 
                }

                &-body{
                    height: calc(100% - 41px);
                    overflow-y: auto;

                    .num{
                        font-size: 25px;
                        color: #666;
                        margin-right: 10px;
                    }
                    img{
                        // width: 100%;
                    }
                }
            }
        }
    }
}