@import './options/mixin';
@import './options/font-style';

// 공통 모달

// 오늘의 수업
.TodayClass{
    .date-area{
        display: flex;
        margin-top: 10px;
    }

    .table-top{
        justify-content: flex-end;
        margin-bottom: 10px;
        .update{
            vertical-align: middle;
            margin-left: 5px;
        }
    }
    .tableC{
        th{
            padding: 6px 0;
        }
    }
    .scrollWrap{
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        max-height:727px;
        overflow-y: scroll;
        overflow-x: hidden;
        .item{
            width: calc(100% + 8px);
            .name{
                @include flex(center,start);
                flex-direction: column;
                padding-left:9px;
                strong{
                    color: #00a37f;
                    font-weight: 600;
                }
            }
            .stateWrap{
                >*{
                    padding: 9px 0;
                }
            }
            .playBtn{
                border: 2px solid #666;
                width: 30px;
                height: 30px;
                background: #fff;
                border-radius: 50%;
                position: relative;
                margin-bottom: 4px;
                i{
                    position: absolute;
                    top: 6px;
                    left: 9px;
                }
            }
            .btn-orange{
               position: relative;
                &::after{
                    content:'';
                    display: block;
                    position: absolute;
                    width: 1px;
                    height: 20px;
                    background: #fff;
                    @include pos-center;
                }
            }
            .state5{
                flex-direction: column;
            }
        }
        button{
            @include font-style(16);
            width: 100px;
            height: 30px;
            padding: 0;
        }
        .disabled{
            background: #f6f6f6;
        }
        .br{
            border-right: 1px solid #ddd
        }
        .bb{
            border-bottom: 1px solid #ddd;
        }
        .flex{
            display: flex;
        }
}

}


// 학생별 수업관리 - 수업관리
.detailClass.classManagement{

    .table-wrap{
        table{
            td.disabled{
                background: gray;
            }
        }
    }
    .btn{
        min-width:  80px;
    }
    .progressModal{
        width: 1000px;
        &-body{
            .top{
                &-table{
                    display: flex;
                    &__tit{
                        color: #fff;
                        background: red;
                    }
                    &__bar{
                        display: flex;
                        flex-direction: column;
                        li{
                            height: 32px;
                            display: flex;
                            .tit{
                                width: 70px;
                                color: #fff;
                                background: yellowgreen;
                            }
                            .con{
                                width: 100px;
                                border: 1px solid #ccc;
                            }
                            .gageWrap{
                                width: 400px;
                                display: flex;
                                position: relative;
                                &-item{
                                    width: 20%;
                                    opacity: .5;
                                    &:not(.tit){
                                        border: 1px solid #ccc;
                                        text-align: right;
                                    }
                                }
                                &-gage{
                                    position: absolute;
                                    height: 25px;
                                    font-weight: bold;
                                    color: #fff;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    background: orange;
                                    width: 34.8%;
                                }
                            
                            }
                        }
                        
                    }
                
                }
                
            }
        }
    }
    .creationModal{
        width: 1000px;
        height: 500px;
        &-body{
            .top{
                @include flex(start);
                border: 1px solid #ccc;
                &-tit{
                    background: #ccc;
                    border-right: 1px solid #ccc;
                    width: 150px;
                    text-align: center;
                }                
            }
            table{
                td{
                    background: #ccc;
                    border-right: 1px solid #ddd;
                }
           
                .toggleWrap{
                    .buttonWrap{
                        position: relative;

                    .checkToggle{
                        width: 20px;
                        height: 20px;
                        background: #fff;
                        border: 1px solid #000;
                        position: relative;
                        &::after{
                            content: '';
                            display: inline-block;
                            position: absolute;
                            left: 50%;
                            top: 6px;
                            transform: translateX(-50%);
                            border-bottom: 7px solid transparent;
                            border-top: 7px solid #000;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                           
                        }
                    }
                    .selectWrap{
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 150px;
                        background: #fff;
                        text-align: left;
                       
                            .isCheck {
                                background-color: #000;
                                box-shadow: 0 0 0 2px #fff inset;
                            }
                        }
                    }
                }
            }
        }
    }
    .resultPopModal{
        &-body{
            h5{
                text-align: left;
            }
            .contents{
                display: flex;
                justify-content: space-between;
                height: 500px;
                overflow: hidden;

                &-l{
                    width: 50%;
                    margin-right: 30px;
                    overflow-y: scroll;
                    table{
                        .btnPlay{
                            width:20px;
                            height: 20px;
                            background: url(../../public/tempo/play.png)no-repeat center;
                            background-size: 100%;
                            font-size: 0;
                            margin-right: 5px;
                        }
                    }
                }
                &-r{
                    width: 50%;
                    background: url(../../public/tempo/mun.png)no-repeat center;
                    background-size: 100%;
                    background-position: top;

                }

            }
        }
    }
}

// 학생별 수업관리 - 오답정복하기 
.detailClass.wrongAnswerMaster{
    .top{
        margin-bottom: 10px;
        &-left{
            display: flex;
        }
        &-right{

        }
    }
}

    .markingModal{
        &-body{
            .marking{
                display: flex;
                table{
                    width: 33.3%;
                    thead{
                        td{
                            background: rgb(94, 94, 94);
                            color: #fff;
                            padding: 10px 0;
                            text-align: center;
                            border-right: 1px solid #fff;
                        }
                        
                    }
                    tbody{
                        td{
                            .numBtn{
                                font-size: 20px;
                                margin: 0 1px;
                            }
                            .numBtn.active{
                                background: red;
                            }
                        }
                    }
                }
            }
        }
    }

// 자료 및 알림
.referenceNotification{
    
    .reference{
        table{
            .badge{
                color: #fff;
                width: 70px;
                height: 20px;
            }
            .notice{
                background: red;
            }
            .required{
                background: blue;
            }
            .event{
                background: green;
            }
        }
        .rfModal{
            padding: 10px;
            .table{
                .tr{
                    @include flex(start,center);
                    margin-bottom: 10px;
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    .th{
                    background: #eee;
                    border-right: 1px solid #ccc;
                    padding: 10px;

                    }
                    .td{
                    padding:0 10px;
                    }
                    .fileTd{
                        width: 350px;
                        border-right: 1px solid #ccc;
                        display: block;
                        height: 50px;

                        .fileArea{
                        }

                    }
                    
                }
                .editor{
                    .ck.ck-editor__main>.ck-editor__editable{
                        height: 220px;
                    }
                }
                .textArea{
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    text-align: left;
                    margin-bottom: 10px;
                    padding: 10px;
                }
            }
        }
    }
    .notification{
        .filters{
            &-l{
                @include flex(start,center);
            }
            
        }
        

    }
    .afterReadingModal{
        @include pos-center();
        width: 400px;
        table{
            thead{
                th{
                    background: #ccc;
                }
            }
        }
    }

    .ViewMessageModal{
        &-body{
            padding: 10px;
        }
        &-foot{
            padding-bottom: 10px;
        }
    }
    .writeMessageModal{
        width: 800px;
        &-body{
            display: flex;
            .left{
                width: 20%;
            }
            .right{
                width: 80%;
                table{
                    .fileArea{
                        
                        .fileBtn{
                            display: flex;
                            flex-direction: column;
                        }
                    }
                    .editor{
                        .ck.ck-editor__main>.ck-editor__editable{
                            height: 290px;
                        }
                    }
                    tbody{
                        tr{
                            .title{
                                input{
                                    width: 100%;
                                    height: 100%;
                                    
                                }
                            }
                        }
                    }
                }

            }

        }
    }
}











// common
.file{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../../public/tempo/clip.png)no-repeat center;
    background-size: 100%;

}
.radioArea{
    display: inline-block;
    .radioInput{
        appearance: none;
    }
    label{
        margin-right: 10px;
        &::before{
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border:1px solid;
            position: relative;
            top: 3px;
            margin-right: 1px;
        }
    }
    .radioInput:checked ~ label::before{
        background: green;
    }
}


.btn-danger{
    border: 1px solid #dc3545;
    padding: 5px 10px;
    border-radius: 3px;
    color: #dc3545;
    position: relative;
    transition: .5s;
    overflow: hidden;
    background: none;
    &::before{
        content:'';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 0%;
        background: #dc3545;
        transition: .5s ease;
        border-radius: 0 0 50% 50%;
        width: 100%;
        z-index: -1;
    }
    &:hover{
        color: #fff;
        background: none;
    }
    &:hover::before{
        content:'';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 180%;
        background: #dc3545;
        border-radius: 0;
    }

}
