@import "./todayClass";
@import "./classManagement";
@import "./wrongAnswerMaster";
@import "./EvaluationRoutineContent";

// 수행평가 모달
.assessmentModal{
    // width: 50%;
    width: 640px;
    .contents{
        padding: 20px;
        &-audio{
            border: 2px solid #eee;
            @include flex(center);
            flex-direction: column;
            padding: 15px 20px;
            .top{
                width: 100%;
            }
            .foot{
                width: 100%;
                position: relative;
                &-mid{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        h5{
           
        }
        table{
            width: 100%;
            tbody{
                border-top: 2px solid #664e3d;
                tr{
                    border-bottom: 1px solid #eee;
                }
                th{
                    background:#e6ddd8;
                    color: #664e3d;
                    text-align: center;
                    @include font-style(17);
                }
                td{
                    @include font-style(17);
                    padding: 8px 18px 8px 10px;
                    color: #666;
                }
            }
        }
    }
}

// 학습태도 평가 모달

.attModal{
    width: 600px;
    .contents{
        &-item{
            border-bottom: 1px solid #eee;
            padding: 10px 0;
            &:first-of-type{
                border-top: 2px solid #664e3d;
            }
            h6{
                @include font-style(18);
                margin-bottom: 6px;
                font-weight: 500;
            }
            
        
        }
    }
    
}


.scoreNum{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #eee;
    text-align: center;
    line-height: 32px;
    font-size: 17px;
    margin: 0 5px;
    cursor: pointer;
    &.active{
        color: #fff;
        background: #ea7851;
    }
}

.m-tit{
    @include font-style(20);
    color: #664e3d;
    img{
        position: relative;
        top: 2px;
        margin-right: 8px;
    }
}

.warning{
    color: #ea5750;
    font-weight: 600;
}

.playBtn{
    border: 2px solid #666;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    margin-bottom: 4px;
    i{
        position: absolute;
        top: 6px;
        left: 9px;
    }
}