.audio_bar{
    width: 300px;
    height: 20px;
    background-color: #ccc;
    position: relative;

    .audio_bar_itme{
        position: absolute;
        width: 0%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: orangered;
        transition: all 0.2s;
        pointer-events: none;
    }

}
.download_btn{
    padding: 3px;
    border: 1px solid #ccc;
    margin: 10px;
}