.TodayClass{
    .date-area{
        display: flex;
        margin-top: 10px;
        .react-date-picker__wrapper{
            display: none;
        }
    }
        .table-header{
            justify-content: flex-end;
            .update{
                vertical-align: middle;
                margin-left: 5px;
            }
        }
        table{
            thead{
                th{
                    background: #eee;
                }
            }
            tbody{
                tr{
                    td.disabled{
                        background: #ccc;
                    }
                    td{
                        .btn{
                            min-width: unset;
                        }
                        .btnPlay{
                            width:20px;
                            height: 20px;
                            background: url(../../../public/tempo/play.png)no-repeat center;
                            background-size: 100%;
                            font-size: 0;
                            margin-right: 5px;
                        }
                        .btnPlay.new{
                            position: relative;
                            &::after{
                                content:'N';
                                display: block;
                                background: rgb(255, 0, 0);
                                border-radius: 50%;
                                color: #fff;
                                font-size: 10px;
                                width: 15px;
                                height: 15px;
                                text-align: center;
                                line-height: 15px;
                                position: absolute;
                                right: -7px;
                                top: -5px;
                            }
                        }
                        .btnDown{
                            width:30px;
                            height: 30px;
                            background: url(../../../public/tempo/down.png)no-repeat center;
                            background-size: 100%;
                            font-size: 0;

                        }
                    }
                }
            }
        }
        .modal{
            .dim{
                
            }
        }
        .assessModal{
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 700px;
            &-head{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: rgb(143, 0, 0);
                padding: 10px;
                border-radius: 10px 10px 0 0;
                .tit{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    color: #fff;
                    ul{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                }
                .close{
                    color: #fff
                }
            }
            &-body{
                padding: 10px;
                ul{
                    li{
                        .bar{
                            // padding: 0 20px;
                            border: 1px solid;
                            margin-top: 25px;
                            position: relative;
                            &-num{
                                position: absolute;
                                top: -25px;
                                left: 0;
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                            }
                            .clickScore{
                                background: yellowgreen;
                                border-right: 1px solid;
                                width: 10%;
                            }
                            .halfArea{
                                width: 5%;
                            }

                            
                        }
                    }
                }
            }
            &-foot{
                display: flex;
                justify-content: center;
            }

        }
}