@font-face {
  font-family: 'icon-font';
  font-style: normal;
  font-weight: 400;
  src: url("icon-font.eot?b4e6d05d55b94c54d82677680acfb3ac?#iefix") format("embedded-opentype"),
url("icon-font.woff2?b4e6d05d55b94c54d82677680acfb3ac") format("woff2"),
url("icon-font.woff?b4e6d05d55b94c54d82677680acfb3ac") format("woff");
}

.icon-font, .ic-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.ic-icons {
  width: 1em;
  height: 1em;
  position: relative;
  fill: currentColor;
}

.icon-font {
  font-family: 'icon-font';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.ic-apple:before { content: "\f101"; }
.ic-plus:before { content: "\f102"; }
