@font-face {
  font-family: 'icon-font';
  font-style: normal;
  font-weight: 400;
  src: url("icon-font.eot?a863851ca67be6d7101f1ea08ea02956?#iefix") format("embedded-opentype"),
url("icon-font.woff2?a863851ca67be6d7101f1ea08ea02956") format("woff2"),
url("icon-font.woff?a863851ca67be6d7101f1ea08ea02956") format("woff");
}

.icon-font, .ic-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.ic-icons {
  width: 1em;
  height: 1em;
  position: relative;
  fill: currentColor;
}

.icon-font {
  font-family: 'icon-font';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.ic-apple:before { content: "\f101"; }
.ic-attendence:before { content: "\f102"; }
.ic-calendar:before { content: "\f103"; }
.ic-close:before { content: "\f104"; }
.ic-download:before { content: "\f105"; }
.ic-evaluation:before { content: "\f106"; }
.ic-file:before { content: "\f107"; }
.ic-info:before { content: "\f108"; }
.ic-lbt1:before { content: "\f109"; }
.ic-lbt2:before { content: "\f10a"; }
.ic-lbt3:before { content: "\f10b"; }
.ic-lbt4:before { content: "\f10c"; }
.ic-lbt5:before { content: "\f10d"; }
.ic-lnbDetail:before { content: "\f10e"; }
.ic-logout:before { content: "\f10f"; }
.ic-more:before { content: "\f110"; }
.ic-notification:before { content: "\f111"; }
.ic-pencil:before { content: "\f112"; }
.ic-play:before { content: "\f113"; }
.ic-plus:before { content: "\f114"; }
.ic-plusLearning:before { content: "\f115"; }
.ic-point:before { content: "\f116"; }
.ic-print:before { content: "\f117"; }
.ic-reload:before { content: "\f118"; }
.ic-remove:before { content: "\f119"; }
.ic-search:before { content: "\f11a"; }
.ic-select_typeA:before { content: "\f11b"; }
.ic-select_typeB:before { content: "\f11c"; }
.ic-studentManagement:before { content: "\f11d"; }
.ic-todayClass:before { content: "\f11e"; }
.ic-volume:before { content: "\f11f"; }
.ic-warning:before { content: "\f120"; }
